# Build and Release Folders
bin/
bin-debug/
bin-release/

#logs...
*_log

# IntelliJ IDEA
.idea/workspace.xml
.idea/gradle.xml
.idea/tasks.xml
.idea/libraries/*.xml

# Other files and folders
.settings/
desktop.ini

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
