body {
	background-color: darkgrey;
}

.tag-list {
	cursor: cell;
}


.caplet {
	width: 100%;
	margin-bottom: 2px !important;
}

.tPots, .ident {
	text-align: left;
	font-size: 110%;
	font-weight: 200;
	width: 100%;
	margin-bottom: 0px !important;
}

.descr {
	color: white;
	font-size: 80%;
	display: none;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	padding: 0 5px 5px 5px;
}

.tag-pill {
	font-size: small;
	font-weight: normal;
	padding: 7px 4px 7px 4px;
	margin: 0;
	min-width: 31px !important;
}

.tPots {
	font-size: 85% !important;
}

.spot-page {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

/* vim:set tabstop=2 shiftwidth=2 noexpandtab: */
