body {
	background-color: darkgrey;
}

.tag-list {
	cursor: cell;
}


.tag-list > p {
	text-align: left;
	font-size: 110%;
	font-weight: 200;
	width: 100%;
	display: none;
	margin-bottom: 2px !important;
}

.tPots {
	font-size: 85%;
}

.spot-page {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

// vim:set tabstop=2 shiftwidth=2 noexpandtab:
